body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h2,h3,h4,h5,h6{
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

/* Navbar */
.navbar {
  padding-bottom: 4rem;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  font-family: "Montserrat-light", sans-serif;
  font-size: 18px;
}

/* Title */


.title-head{
  text-align: left;
  padding-top: 15%;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}


/* Download button */
.download_button {
  font-family: "Ubuntu", sans-serif;
  margin: 5% 3% 5% 10%;
}

/* Title Image */

.title-image {
  width: 30%;
  transform: rotate(20deg);
  position: absolute;
  z-index: 0;
}
/* Features */

#features {
  padding: 7% 14%;
  position: relative;
  z-index: 1
}
.feature-box {
  text-align: center;
  padding: 5%;
}
.feature-name {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.feature-desc {
  font-family: "Montserrat-light", sans-serif;
  color: #8f8f8f;
}
.f-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.f-icon:hover {
  color: #ff4c68;
}

/* Testimonial */
#testimonials {
  text-align: center;
  padding: 7% 14%;
  background-color: #ef8172; 
  color: #fff;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin-right: 20px;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* Press */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 40px;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item {
  height: 427px;
  /* background-color: #ef8172; */
}

/* Pricing */
#pricing{
  padding: 10%;
  font-family: 'Merriweather', serif;
  text-align: center;
}
.plan-class{
  color: #ffffff;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-coloumn{
  padding: 3% 2%;
}

.card{
  border-color: #666;
}
.card-header{
  background-color: #ff4c68;
}


/* Download */
#cta{
  width: 100%;
  text-align: center;
  padding: 7% 14%;
}
.final{
  color: rgba(255,255,255, 1);
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: 'Montserrat';
  font-weight: bold;
  margin: 0 0 40px 0;
}
.final:hover{
  color: rgba(255, 255, 255,.75);
}
.download_buttonf{
  font-family: "Ubuntu", sans-serif;
  margin: 3% auto;
}
/* Footer */
#footer{
  text-align: center;
  padding: 7% 14%;
}
.copyright{
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  /* margin-bottom:40px; */
  color:#adacac;
}
.social{
  margin:0 3px 20px 3px;
}

@media (max-width:982px) {
  .title-image{
    position: static;
    width: 60%;
    margin: auto 20%;
    transform: rotate(0);
  }
  .download_button {
    font-family: "Ubuntu", sans-serif;
    margin: 10px auto;
  }
  #cta{
    width: 100%;
    text-align: center;
    padding: 4.5%;
  }
  .final{
    color: rgba(255,255,255, 1);
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: bold;
    margin: 0 0 40px 0;
  }
  .final:hover{
    color: rgba(255, 255, 255,.75);
  }
}
